{% extends 'base.html' %} {% block content %}
<main class="px-8">
  <div class="w-full">
    <header class="w-full max-w-5xl h-16 mx-auto flex flex-row items-center justify-between py-4">
      <a href="" class="text-2xl font-bold text-[#E6165C]">EdTech Career</a>
      <nav>
        <ul class="flex items-center gap-4">
          <li><a href="" class="text-[16px] font-semibold">Career Advice</a></li>
          <li><a href="" class="text-[16px] font-semibold">Blog</a></li>
          <!-- <li><a href="" class="text-white font-semibold text-[16px] px-8 py-2 rounded-lg bg-[#E6165C]">Sign Up</a></li> -->
        </ul>
      </nav>
    </header>
    <div class="w-full max-w-5xl mx-auto h-screen">
      <div class="w-full max-w-4xl mx-auto h-[350px] flex justify-center py-24">
        <div>
          <h1 class="text-5xl text-center font-bold py-2 leading-tight">Where Tech Talents & Educators find their Dream Job</h1>
          <div class="flex items-center justify-center gap-10 my-8">
            <a href="#job-list" class="text-white text-[16px] bg-[#E6165C] hover:bg-[#E6165C]/90 px-8 py-2.5 rounded-lg font-medium">Discover Jobs</a>
            <button class="text-black text-[16px] rounded-md border border-[#E6165C] px-8 py-2.5 hover:bg-[#E6165C] hover:text-white font-medium">
              Find Talent
            </button>
          </div>
        </div>
      </div>
      <div class="hidden w-full h-[500px] md:block">
        <div class="w-full max-w-[700px] mx-auto h-full">
          <img src="{{url_for('static', filename="images/banner.jpeg")}}" alt="" class="w-full rounded-lg object-cover h-96">
        </div>
      </div>
    </div>
  </div>
  <!-- Job listing -->
  <div class="w-full max-w-5xl mx-auto py-32 mt-5" id="job-list">
    <div>
      <h2 class="text-[22px] font-semibold text-center">Discover your dream job opportunities</h2>
      <!-- filters -->
      <div class="py-8">
        <form action="">
          <div class="flex items-center justify-center gap-4 mt-8">
            <div>
              <label for="job-type" class="text-[16px] font-semibold">Job Type</label>
              <select name="job-type" id="job-type" class="w-56 px-4 py-2 border border-[#E6165C] rounded-lg">
                <option value="full-time">Full Time</option>
                <option value="part-time">Part Time</option>
                <option value="contract">Contract</option>
              </select>
            </div>
            <!-- <div>
              <label for="job-location" class="text-[16px] font-semibold">Location</label>
              <select name="job-location" id="job-location" class="w-48 px-4 py-2 border border-[#E6165C] rounded-lg">
                <option value="lagos">Lagos</option>
                <option value="abuja">Abuja</option>
                <option value="portharcourt">Portharcourt</option>
              </select>
            </div> -->
            <div>
              <label for="job-category" class="text-[16px] font-semibold">Category</label>
              <select name="job-category" id="job-category" class="w-56 px-4 py-2 border border-[#E6165C] rounded-lg">
                <option value="education-teaching">Education & Teaching</option>
                <option value="software-engineering">Software Engineering</option>
                <option value="product-management">Product Management</option>
                <option value="design">Design</option>
              </select>
            </div>
            <div>
              <button class="text-white text-[16px] bg-[#E6165C] px-8 py-2 rounded-lg font-medium">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
